[submodule "RAG"]
	path = RAG
	url = https://github.com/sivraamkrishnankv/Learning-RAG.git
[submodule "MCP-Fundamentals"]
	path = MCP-Fundamentals
	url = https://github.com/sivraamkrishnankv/learning-MCP.git
[submodule "automatic-blog-publisher-mcp"]
	path = automatic-blog-publisher-mcp
	url = https://github.com/sivraamkrishnankv/automatic-blog-publisher-mcp.git
[submodule "weather-retriever-mcp"]
	path = weather-retriever-mcp
	url = https://github.com/sivraamkrishnankv/weather-retriever-mcp.git
[submodule "multiserver-mcp"]
	path = multiserver-mcp
	url = https://github.com/sivraamkrishnankv/multimodel-mcp.git
